{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			<h2>Artikelen overzicht</h2>

			<div class="table-responsive">


				<table id="mytable" class="table table-bordred table-striped table-hover">
								
					<thead>

						<th>Artikel- nummer</th>
						<th>Naam</th>
						<th>Omschrijving</th>
						<th>Technische specificaties</th>
						<th>Magazijn- locatie</th>
						<th>Inkoop- prijs</th>
						<th>Huidige voorraad</th>
						<th>Minimum voorraad</th>
						<th>Bestel- serie</th>
						<th>Vervangend artikel</th>
					</thead>
					{% for artikel in artikelen %}
					<tbody>

						<tr>
							<th> {{ artikel.artikelnummer }} </th>
							<th> {{ artikel.naam }} </th>
							<th> {{ artikel.omschrijving }} </th>
							<th> {{ artikel.technischeSpecificaties }} </th>
							<th> {{ artikel.magazijnlocatie}} </th>
							<th>€{{ artikel.inkoopprijs}} </th>
							<th> {{ artikel.huidigeVoorraad }} </th>
							<th> {{ artikel.minimumVoorraad }} </th>
							<th> {{ artikel.bestelserie }} </th>
							<th> {{ artikel.vervangendArtikel }} </th> 


							<td><a class="btn btn-primary btn-xs" Title="Artikel wijzigen"  href="{{ path('artikelwijzigen', {'artikelnummer':artikel.artikelnummer}) }}">Wijzig</a></td>
							<td> <a class="btn btn-danger btn-xs" Title="Artikel verwijderen"  href="{{ path('artikelverwijderen', {'artikelnummer':artikel.artikelnummer}) }}">Verwijder</a></td>

						</tr>
					</tbody>
					{% endfor %}	
				</table>
		</div>
	</div>
</div>
{% endblock %}