{% extends 'base.html.twig' %}
{% block body %}
<style>
.col-md-12 {
	display: block;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2;
	border-radius: 25px;
	padding: 10px; 
}
tr{
	border: none !important;
}
th{
	border: none !important;
}
tbody{
	border: none !important;
}
</style>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Artikelen overzicht</h2>

				<div class="table-responsive">

					<table id="mytable" class="table">

						<thead>
							<th>Artikel- nummer</th>
							<th>Naam</th>
							<th>Omschrijving</th>
							<th>Technische specificaties</th>
							<th>Magazijn- locatie</th>
							<th>Inkoop- prijs</th>
							<th>Huidige voorraad</th>
							<th>Minimum voorraad</th>
							<th>Bestel- serie</th>
							<th>Vervangend artikel</th>
							<th>De-archiveer artikel</th>
						</thead>
						
						{% for artikel in artikelen %}
						<tbody>
							<td> {{ artikel.artikelnummer }} </td>
							<td> {{ artikel.naam }} </td>
							<td> {{ artikel.omschrijving }} </td>
							<td> {{ artikel.technischeSpecificaties }} </td>
							<td> {{ artikel.magazijnlocatie}} </td>
							<td>€{{ artikel.inkoopprijs}} </td>
							<td> {{ artikel.huidigeVoorraad }} </td>
							<td> {{ artikel.minimumVoorraad }} </td>
							
							{% if artikel.bestelserie < 0 %}
							<td>0</td>
							{% else %}
							<td>{{ artikel.bestelserie }}</td>
							{% endif %}
							
							<td> {{ artikel.vervangendArtikel }} </td> 
							
							{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_INKOPER') %}
							<td> <a class="btn btn-success btn-xs" Title="Artikel de-archiveren" href="{{ path('artikelDe-archiveren', {'artikelnummer':artikel.artikelnummer}) }}">De-Archiveren</a></td>
							{% endif %}

						</tbody>
						{% endfor %}	
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}