<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="bootsnipp.css"></link>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
</head>
<body>


    <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{{ path('homepagina') }}">Home</a>
          </div>





           </form> 

          <ul class="nav navbar-nav">
              <li class="active"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Artikel overzicht
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('artikelbestand') }}">Artikel bestand</a></li> 
                        <li><a href="{{ path('artikeltoevoegen') }}">Nieuw artikel toevoegen</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Bestel overzicht
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('bestelorderoverzicht') }}">Bestelde artikelen</a></li> 
                            <li><a href="{{ path('nieuwbestelorder') }}">Nieuwe bestelling</a></li>
                        </ul>

                            </ul>
                        </div>
                                  <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form" method="POST" action="{{ path('artikelbestand')}}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="zoekwaarde">
                    
                    </div>
                </div>
                          </ul>
                    </nav>  
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}

                </div>

            </body>
            </html>
