{% extends 'base.html.twig' %}
{% block body %}
<style>
.col-md-12 {
	display: block;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2;
	border-radius: 25px;
	padding: 10px; 
}
tr{
	border: none !important;
}
th{
	border: none !important;
}
tbody{
	border: none !important;
}
</style>

<div class="container">
	<div class="row">


		<div class="col-md-12">
			<h2>Ontvangen goederen</h2>

			<div class="table-responsive">

				<table id="mytable" class="table table-bordred table-striped table-hover">

					<thead>

						<th>Bestelnummer</th>
						<th>Leverancier</th>
						<th>Artikelnummer</th>
						<th>Artikelnaam</th>
						<th>Hoeveelheid</th>
						<th>Status</th>
						<th>Datum Ontvangst</th>

					</thead>
					{% for bestelregel in bestelregels %}
					{% for artikel in artikel %}
					{% for leverancier in leverancier %}
					<tbody>
						<tr style="background-color: white;">
							{%if bestelregel.artikelnummer == artikel.artikelnummer%}
							{%if bestelregel.artikelnummer == leverancier.bestelnummer%}
							<td>{{ bestelregel.bestelnummer }} </td>
							<td>{{ leverancier.leverancier}} </td>
							<td>{{ bestelregel.artikelnummer}} </td>
							<td>{{ artikel.naam}} </td>
							<td>{{ bestelregel.hoeveelheid}} </td>
							<td>{{ bestelregel.status}} </td>
							<td>{{ bestelregel.datum_ontvangst}} </td>
							{% endif %}
							{% endif %}
						</tr>
					</tbody>
					{% endfor %}
					{% endfor %}
					{% endfor %}	
				</table>
			</div>
		</div>
	</div>
</div>

</div>
{% endblock %}
