{% extends 'base.html.twig' %}
{% block body %}
<style>
	tr{
		border: none !important;
	}
	th{
		border: none !important;
	}
	tbody{
		border: none !important;
	}
</style>
<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			<h2>Bestel overzicht</h2>

			<div class="table-responsive">


				<table id="mytable" class="table table-bordred table-striped table-hover">

					<thead>

						<th>Bestelordernummer</th>
						<th>Artikelnummer</th>
						<th>Leverancier</th>
						<th>Hoeveelheid</th>

						<th>Wijzigen</th>
						<th>Verwijderen</th>

					</thead>
					{% for bestelorder in bestelorders %}
					<tbody>

						<tr style="background-color: white;">
							<td>{{ bestelorder.bestelordernummer }} </td>
							<td>{{ bestelorder.artikelnummer }} </td>
							<td>{{ bestelorder.leverancier}} </td>
							<td>{{ bestelorder.hoeveelheid}} </td>
							
							<td><a class="btn btn-primary btn-xs" Title="Artikel wijzigen"  href="{{ path('bestelorderwijzigen', {'bestelordernummer':bestelorder.bestelordernummer}) }}">Wijzig</a></td>
							<td> <a class="btn btn-danger btn-xs" Title="Artikel verwijderen"  href="{{ path('bestelorderverwijderen', {'bestelordernummer':bestelorder.bestelordernummer}) }}">Verwijder</a></td>
						</tr>
					</tbody>
					{% endfor %}	
				</table>
		</div>
	</div>
</div>
{% endblock %}