{% extends 'base.html.twig' %}
{% block body %}
<style>
	tr{
		border: none !important;
	}
	th{
		border: none !important;
	}
	tbody{
		border: none !important;
	}
</style>
<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			<h2>Alle bestellingen</h2>

			<div class="table-responsive">


				<table id="mytable" class="table table-bordred table-striped table-hover">

					<thead>

						<th>Bestelordernummer</th>
						<th>Leverancier</th>

						<th>Bekijken</th>	
						<th>Wijzigen</th>
						<th>Verwijderen</th>

					</thead>
					{% for bestelling in bestellingen %}
					<tbody>

						<tr style="background-color: white;">
							<td>{{ bestelling.bestelnummer }} </td>
							<td>{{ bestelling.leverancier}} </td>
							
							<td><a class="btn btn-primary btn-xs" Title="Bestelling bekijken"  href="{{ path('bestellingbekijken', {'bestelnummer':bestelling.bestelnummer}) }}">Bekijk</a></td>
							<td><a class="btn btn-primary btn-xs" Title="Bestelling wijzigen"  href="{{ path('bestellingwijzigen', {'bestelnummer':bestelling.bestelnummer}) }}"onclick="return confirm('Weet je zeker dat je het wilt wijzigen?');">Wijzig</a></td>
							<td> <a class="btn btn-danger btn-xs" Title="Bestelling verwijderen"  href="{{ path('bestellingverwijderen', {'bestelnummer':bestelling.bestelnummer}) }}"onclick="return confirm('Weet je zeker dat je het wilt verwijderen?');">Verwijder</a></td>
						</tr>
					</tbody>
					{% endfor %}	
				</table>
		</div>
	</div>
</div>
{% endblock %}