{% extends 'base.html.twig' %}
{% block body %}
	<h1>Ontvangen Goederen</h1>
	{% for goederen in goederen %}
		<ul>
			<li><a href="{{path('goederenwijzigen', {'ontvangstnummer':goederen.ontvangstnummer})}}">Wijzig</a>
			<a href="{{path('goederenverwijdering', {'ontvangstnummer':goederen.ontvangstnummer})}}">Verwijderen</a>

			{{goederen.artikelnummer}}, {{goederen.ontvangstnummer}}, {{ goederen.datumontvangst|date('Y-m-d') }}, {{goederen.hoeveelheid}}, {{goederen.kwaliteit}}, {{goederen.omschrijving}}, 
			{{goederen.leverancier}}, {{goederen.ontvangen}}

			</li>
		</ul>
	{% endfor %}
{% endblock %}