{% extends 'base.html.twig' %}
{% block body %}
<style>
    tr{
        border: none !important;
    }
    th{
        border: none !important;
    }
    tbody{
        border: none !important;
    }
</style>
<div class="container">
    <div class="row">


        <div class="col-md-12">
            <h2>Overzicht van ontvangen goederen</h2>

            <div class="table-responsive">


                <table id="mytable" class="table table-bordred table-striped table-hover">

                    <thead>

                        <th>Ontvangstnummer</th>
                        <th>Artikelnummer</th>
                        <th>Datum ontvangst</th>
                        <th>Hoeveelheid</th>
                        <th>Kwaliteit</th>
                        <th>Omschrijving</th>
                        <th>Leverancier</th>
                        <th>Ontvangen</th>

                        <th>Wijzigen</th>
                    </thead>
                    {% for goederen in goederen %}
                    <tbody>

                        <tr style="background-color: white;">
                            <td>{{goederen.ontvangstnummer}} </td>
                            <td>{{goederen.artikelnummer}} </td>
                            <td>{{goederen.datumontvangst|date('Y-m-d') }} </td>
                            <td>{{goederen.hoeveelheid}} </td>
                            <td>{{goederen.kwaliteit}} </td>
                            <td>{{goederen.omschrijving}} </td> 
                            <td>{{goederen.leverancier}} </td>
                            <td>{{goederen.ontvangen}} </td> 
                            

                            <td><a class="btn btn-primary btn-xs" Title="Artikel wijzigen"  href="{{ path('goederenwijzigen', {'ontvangstnummer':goederen.ontvangstnummer}) }}">Wijzig</a></td>
                            <td> <a class="btn btn-danger btn-xs" Title="Artikel verwijderen"  href="{{ path('goederenverwijdering', {'ontvangstnummer':goederen.ontvangstnummer}) }}">Verwijder</a></td>

                        </tr>
                    </tbody>
                    {% endfor %}    
                    </table>
            </div>
        </div>
    </div>
    {% endblock %}