{% extends 'base.html.twig' %}
{% block body %}
<style>
	tr{
		border: none !important;
	}
	th{
		border: none !important;
	}
	tbody{
		border: none !important;
	}
</style>
<div class="container">
	<div class="row">
		

		<div class="col-md-12">
			{% for ontvangstregel in ontvangstregels %}
			{% if loop.first %}
			<h2>Ontvangstmelding #{{ ontvangstregel.ontvangstnummer }}</h2>
			<a class="btn btn-primary btn-xs" Title="Goederen toevoegen aan opdracht"  href="{{ path('nieuweOntvangstregel', {'ontvangstnummer':ontvangstregel.ontvangstnummer}) }}">Goederen toevoegen</a>
			{% endif %}
			{% endfor %}
			<a class="btn btn-primary btn-xs" Title="Terug naar overzicht"  href="{{ path('alleGoederen') }}">Terug naar overzicht</a><br><br>	

			<div class="table-responsive">


				<table id="mytable" class="table table-bordred table-striped table-hover">

					<thead>

						<th>Artikelnummer</th>
						<th>Omschrijving</th>
						<th>Hoeveelheid</th>

					</thead>
					{% for ontvangstregel in ontvangstregels %}
					<tbody>

						<tr style="background-color: white;">
							<td> {{ ontvangstregel.artikelnummer}} </td>
							<td> {{ ontvangstregel.omschrijving}} </td>
							<td> {{ ontvangstregel.hoeveelheid}} </td>
						</tr>
					</tbody>
					{% endfor %}	
				</table>
		</div>
	</div>
</div>
{% endblock %}